/* Setting colors and font */
body {
		color: white;
    background-color: #ffff;
    text-align: center;
    font-family: "Amatic SC", Monaco, monospace;
    font-size: 20px;
		text-shadow: 2px 2px 8px #333333;
		overflow: hidden
    }

/* This class centers its content */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	margin-right:100px;
}

/* Adding a background image covering the whole page */
html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Content float at bottom */
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Remove underline on link and increase font size */
a {
    text-decoration: none !important;
		font-size: 40px;
}
