/* Setting colors and font */
body {
		color: white;
    background-color: #ffff;
    text-align: center;
    font-family: "Baloo Tammudu 2", Monaco, monospace;
    font-size: 20px;
		line-height: 130%;
		text-shadow: 2px 2px 8px gray;
    }

/* This class centers its content */
.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Adding a background image covering the whole page */
html {
	min-height: 100%;
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	padding: env(safe-area-inset);
}

/* Content float at bottom */
#bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* Remove underline on link and increase font size */
a {
    text-decoration: none !important;
		font-size: 50px;
}
